<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Shop100.vn</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Status" content="200 OK"/>
</head>
<body ng-app="App" layout="row" ng-cloak>

<md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
            md-component-id="left" hide-print
            md-is-locked-open="$mdMedia('gt-sm')" ng-hide="$state.current.name === 'courses'">

    <header class="nav-header">
        <a ui-sref="home()" class="docs-logo">
            <h1 class="docs-logotype md-heading">Shop100 Training</h1>
        </a>
    </header>

    <md-content flex role="navigation">
        <ul id="sidebar-courses">
            <a ui-sref="courses()">Các khóa học</a>
            <li ng-repeat="course in courses">
                <a ui-sref="courses.show({slug:course.slug})"
                   ng-style="{color:(($state.params.slug===course.slug)?'#1fbba6':'')}"
                    ng-click="course.expandChildren=true"
                >{{course.name}}</a>
                <ul ng-show="course.expandChildren || ($state.params.slug===course.slug)">
                    <li ng-repeat="module in course.modules">
                        <a ui-sref="courses.show.module({slug:course.slug,course_id:course.id,module_id:module.id})" ng-style="{color:($state.params.module_id==module.id?'#1fbba6':'')}">
                            {{module.name}}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </md-content>
</md-sidenav>
<div layout="column" flex>
    <md-toolbar class="md-whiteframe-glow-z1 site-content-toolbar">
        <div class="md-toolbar-tools docs-toolbar-tools" tabindex="-1">
            <button class="md-icon-button md-button md-ink-ripple" type="button"
                    ng-click="openMenu()" hide-gt-sm aria-label="Toggle Menu">
                <i class="material-icons">menu</i>
            </button>
            <div layout="row" flex class="fill-height">
                <h2 class="md-toolbar-item md-breadcrumb md-headline">
                    <span ng-show="$state.current.name === 'courses'">Shop100</span>
                    <a ui-sref="courses()" class="md-breadcrumb-page">Trang chủ</a>
                    <a ng-if="$state.params.slug" ui-sref="courses.show({slug:$state.params.slug})" class="md-breadcrumb-page"> / {{$state.params.slug}}</a>
                    <a ng-if="$state.params.course_id" ui-sref="courses.show.module({slug:$state.params.slug,course_id:$state.params.course_id,module_id:$state.params.module_id})" class="md-breadcrumb-page"> / Học phần {{$state.params.course_id}}</a>
                    <a ng-if="$state.params.lesson_id" class="md-breadcrumb-page"> / Bài học {{$state.params.lesson_id}}</a>
                </h2>

                <span flex></span> <!-- use up the empty space -->
            </div>
        </div>
    </md-toolbar>
    <!-- be careful: nothing between md-toolbar and md-content -->
    <md-content flex id="app">
        <ui-view></ui-view>
    </md-content>
</div>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.5/angular-material.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-animate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-aria.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-messages.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.5/angular-material.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-drag-and-drop-lists/2.1.0/angular-drag-and-drop-lists.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.9/ace.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.9/ext-language_tools.js"></script>
<script type="text/javascript" src="dist/app.bundle.js?90aa3adf53da7455e2f1"></script></body>
</html>
