<div id="modulesView" class="modulePanel view" style="z-index: 101; display: block; opacity: 1;">
    <div class="appModule " ng-class="{none:!module.alignment,center:module.alignment}" ng-repeat="module in course.modules">
        <div class="content" ng-click="stateGo('courses.show.module',({course_id:course.id,module_id:module.id}))">
            <div class="appModuleCircle materialResponse">
                <img alt="" src="https://api.sololearn.com/uploads/Modules/{{course.id}}/{{module.id}}.png">
            </div>
            <span>{{module.name}}</span>
        </div>
    </div>
    <div class="appModule center certificate">
        <div class="content">
            <i class="icon"></i>
            <span>Certificate</span>
        </div>
    </div>
</div>
