<div class="filters">
    <div>
        <md-button ui-sref-active="md-raised" style="text-transform: none;" ui-sref="courses()" md-ink-ripple>Xem toàn bộ</md-button>
        <md-button ui-sref-active="md-raised" style="text-transform: none;" ui-sref="web-courses()" md-ink-ripple>Khóa học lập trình Web</md-button>
        <md-button ui-sref-active="md-raised" style="text-transform: none;" ui-sref="mobile-app-courses()" md-ink-ripple>Khóa học lập trình Mobile</md-button>
        <md-button ui-sref-active="md-raised" style="text-transform: none;" ui-sref="embedded-courses()" md-ink-ripple>Khóa học lập trình Nhúng</md-button>
    </div>
</div>
<div class="md-padding" id="courses" >
    <div class="course-item"  ng-repeat="course in courses">
        <md-card class="course" flex>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{course.title}}</span>
                    <span class="md-subhead">{{course.description}}</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-xs card-media">
                        <img ng-src="{{course.icon}}" alt="">
                    </div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ui-sref="courses.show({slug:course.slug})">Tham gia ngay</md-button>
            </md-card-actions>
            <md-card-content>
                <ul>
                    <li ng-repeat="module in course.modules">{{module.name}}</li>
                </ul>
            </md-card-content>
        </md-card>
    </div>
</div>
