<div class="lessonViewInfo" style="background-color: rgb(34, 151, 183);">
    <span class="number">1/3</span>
    <div class="lessonOutline text">
    <span class="active video"  ng-repeat-start="quiz in lesson.quizzes" ng-click="selectLessonText(quiz)">
        <img class="left" alt=" " src="https://www.sololearn.com/Play/arrow.png?r=54&g=171&b=203">
        <i></i>
        <img class="right" alt=" " src="https://www.sololearn.com/Play/arrow.png?r=54&g=171&b=203">
    </span>

    <span class="passed quiz" ng-repeat-end ng-click="selectQuiz(quiz)">
        <img class="left" alt=" " src="https://www.sololearn.com/Play/arrow.png?r=54&g=171&b=203">
        <i></i>
        <img class="right" alt=" " src="https://www.sololearn.com/Play/arrow.png?r=54&g=171&b=203">
    </span>
    </div>
</div>

<div class="textContentContainer">
    <div id="textContent" class="text">
        <h1>Modulus </h1><br><br>
    </div>
</div>
