
#courses {
  column-count: 3;
  @media screen and (max-width: 1063px) {
    column-count: 2;
  }
  @media screen and (max-width: 656px) {
    column-count: 1;
  }
  .course-item{
    height: 462px;
  }
  .course {
    margin: 0 auto;
    height: 96%;
    width: 484px;
    max-width: 98%;
    .card-media {
      width: 90px;
      height: 90px;
    }
  }
}
