.lessonOutline .video, .lessonOutline .quiz {
  display: inline-block;
  height: 30px;
  width: 70px;
  text-align: center;
  margin: 0 -7px 0 -8px;
  cursor: pointer;
}
.lessonOutline .left {
  float: left;
}
.lessonOutline .video.passed i, .lessonOutline .video.active i {
  background-position: -60px -150px;
}

.lessonOutline .video i {
  background-position: -0 -150px;
}
.lessonOutline i {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url(https://www.sololearn.com/Images/appSprite.png);
  position: relative;
}
.lessonOutline .right {
  float: right;
}
.lessonOutline.text, .lessonOutline.video, #quizView .lessonOutline {}

.lessonOutline {
  text-align: center;
  font-size: 0;
}
.lessonOutline .quiz.passed i, .lessonOutline .quiz.active i {
  background-position: -90px -150px;
}

.lessonOutline .quiz i {
  background-position: -30px -150px;
}
.lessonOutline i {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url(https://www.sololearn.com/Images/appSprite.png);
  position: relative;
}
.lessonOutline .active {
  background: url(https://www.sololearn.com/Images/appSprite.png) -160px -180px;
}
.lessonOutline .video, .lessonOutline .quiz {
  display: inline-block;
  height: 30px;
  width: 70px;
  text-align: center;
  margin: 0 -7px 0 -8px;
  cursor: pointer;
}
.lessonViewInfo .number {
  padding: 0 20px;
  float: right;
  width: 80px;
  text-align: right;
}
.lessonViewInfo {
  height: 30px;
  line-height: 30px;
  color: #333;
  font-size: 20px;
  background-color: #d4d4d4;
}
.noteBlock {
  border: solid 1px #ddd;
  margin: 10px 20px;
  background: #eeea87;
  display: block;
}
.note {
  padding: 10px;
  border-left: 5px solid #c9c54c;
  display: block;
}
#textContent{
  word-break: break-word;
  max-width: 800px;
  margin: 0 auto;
}

#quizView .actionBar {
  padding: 20px 10px;
}
#quizView .checkButton {
  background-color: rgb(100, 221, 23);
  opacity: 1;
  transform: scaleX(1) scaleY(1);
  margin: 0 20px;
  float: right;
  background-image: url(https://www.sololearn.com/Images/appSprite.png);
  background-position: -160px -60px;
}
.materialIcon, .actionButton {
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}
.actionButton {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  box-shadow: 0 10px 20px rgba(0,0,0,.19), 0 6px 6px rgba(0,0,0,.23);
  border: none;
  background: #0ad;
  cursor: pointer;
}
#quizView .quizQuestion {
  padding: 40px;
  font-size: 20px;
  color: #444;
}
#quizSelector {
  padding: 0 40px;
  text-align: center;
}
#sidebar-courses a{
  display:block;
  color:black;
  text-decoration: none
}

#sidebar-courses a:hover{
  color:#1fbba6
}
#textView .textContentContainer {
  max-width: 776px;
  background-color: #fff;
  border-radius: 3px;
  margin: 15px auto 0;
  padding: 20px 20px 10px 20px;
  overflow: hidden;
}
#app {
  background: #e9e9e9;
  position: relative;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}
#textView .skipTextButton {
  background-color: rgb(100, 221, 23);
  background-image: url(https://www.sololearn.com/Images/appSprite.png);
  background-position: -160px 0;
  float: right;
  margin: 15px 30px 15px 0;
}
.materialIcon, .actionButton {
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}
.actionButton {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  box-shadow: 0 10px 20px rgba(0,0,0,.19), 0 6px 6px rgba(0,0,0,.23);
  border: none;
  background: #0ad;
  cursor: pointer;
}
.codeBlock {
  white-space: pre;
}
.ace_editor {
  height: 200px;
}
